<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <%# <%= stylesheet_link_tag 'main_app', media: 'all' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

  <nav class="navbar navbar-expand-md">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <% if current_user %>
              <li class="nav-item" >
                <a class="nav-link">Logged in as: <%= current_user.username %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" <%= link_to "Log Out", session_path("current"), method: "delete" %></a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/users/new">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sessions/new">Log In</a>
              </li>
            <% end %>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/"></i>Acebook</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

    </div>
</nav>

    <%= yield %>

    <br>
    <h3>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
  </h3>
  </body>
</html>
