<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_user %>
      Logged in as: <%= current_user.email %>
      <%= link_to "Log Out", session_path("current"), method: "delete" %>
    <% else %>
    <%= link_to "Log In", new_session_path %>
    <% end %>
    <%= yield %>

    <br>
    <h3>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
  </h3>
  </body>
</html>
